# Dados (Camadas Medallion)
data/
raw/
processed/
gold/
dbt_spacex/targets/
dbt_spacex/logs/
dbt_spacex\.user.yml

# Python (Bytecode e Cache)
**/__pycache__/
*.pyc

# Ambiente e Jupyter
.env
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/