# --- Security ---
.env
*.pem
*.key

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.env/
venv/
.pytest_cache/
.ruff_cache/

# --- dbt ---
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt_modules/

# --- Logs & OS ---
logs/
*.log
.DS_Store
Thumbs.db

# --- Prefect ---
.prefect/
