name: CI/CD Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      # Creates a temporary database for integration tests (Loader)
      db:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: admin
          POSTGRES_DB: spacex_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip' # Optimizes execution time

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-mock

      - name: Run Tests
        env:
          DATABASE_URL: postgresql://postgres:admin@localhost:5432/spacex_db
          POSTGRES_HOST: localhost
          PYTHONPATH: ${{ github.workspace }}
        run: |
          # Sets PYTHONPATH so pytest can find the /src directory
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests/ -v
